
input {
    caret-color: white !important;
}
::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: white !important;
}

::ng-deep .mat-input-element::placeholder{
    color: white;
}

::ng-deep mat-label {
/*change color of label*/
    color: white !important;
}

::ng-deep.mat-form-field-underline {
/*change color of underline*/
    background-color: white !important;
} 

::ng-deep.mat-form-field-ripple {
/*change color of underline when focused*/
    background-color: white !important;
}

.mat-form-field-disabled {
    opacity: 0.3 !important;
}
tr {
    opacity: 0.7;
}
tr:hover {
    opacity: 1;
}
.content{
    width: 100%;
    padding-top: 100px;
    margin: 0px auto;
    text-align: center;
}
.search{
    text-align: right;
    position: fixed;
    top: 0px;
    z-index: 999;
    width: 100%;
    box-sizing: border-box;
    background: #365aab;
    padding: 15px 30px 5px;
    color: white;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.rueckmeldeNummerInput, .artikelInput, .mat-flat-button {
    margin: 0px 10px;
}
.rueckmeldeNummerInput, .artikelInput {
    width: 280px;
}
.headline {
    color: #ffffff;
    font-size: 23px;
    position: absolute;
    left: 20px;
    top: 30px;
    font-family: Roboto,Helvetica Neue,sans-serif;
    font-weight: 500;
}
.zeichnungen {
  width: 70%;
  text-align: left;
  margin: 0px auto;
 }
 
 .zeichnungen button{
  position: relative;
  left: -20px;
 }

 table {
    width: 80%;
    margin: 0px auto;
    text-align: left;
  }