<div class="content">
  <div class="search">
    <mat-form-field class="rueckmeldeNummerInput">
      <mat-label>Rückmeldenummer</mat-label>
      <input matInput [(ngModel)]="rueckmeldeNr" placeholder="Rückmeldenummer eingeben" autocomplete="off">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="suchen()">Suchen</button>
  </div>
  
  <mat-list>
    <div mat-subheader>Zeichnungen</div>
    <mat-list-item *ngFor="let zeichnung of zeichnungen">
      <mat-icon mat-list-icon>description</mat-icon>
      <div mat-line>{{zeichnung.Zeichnung}} </div>
      <button mat-icon-button>
        <button mat-button color="primary" (click)="download()">Download</button>
      </button>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>

</div>
 
<router-outlet></router-outlet>