<div class="content">
  <div class="search" spellcheck="false">
    <span class="headline">DMS Zeichnungen</span>
    <mat-form-field class="rueckmeldeNummerInput">
      <mat-label>Rückmeldenummer</mat-label>
      <input matInput [(ngModel)]="rueckmeldeNr" [disabled]="artikel != ''" autocomplete="off">
    </mat-form-field>
    <mat-form-field class="artikelInput">
      <mat-label>Artikel</mat-label>
      <input matInput [(ngModel)]="artikel" [disabled]="rueckmeldeNr != ''" autocomplete="off">
    </mat-form-field>
    <button mat-flat-button (click)="suchen()">Zeichnungen Suchen</button>
  </div>
  
  <mat-list>
    <div mat-subheader>Zeichnungen</div>
    <mat-list-item *ngFor="let zeichnung of zeichnungen">
      <mat-icon mat-list-icon>description</mat-icon>
      <div mat-line>{{zeichnung.Zeichnung}} </div>
      <button mat-icon-button>
        <button mat-button color="primary" (click)="download()">Download</button>
      </button>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>

</div>
 
<router-outlet></router-outlet>